@import '../../style/variables';

.garage-door {
  fill: $white;
  height: 350px;

  .door-open {
    clip-path: inset(80% 0 0 0) !important;
    transform: translate(0, -14px) !important;
    transition: all $garage-door-traversal-time linear;
  }

  .door-closed {
    clip-path: inset(0 0 0 0) !important;
    transform: translate(0, 0) !important;
    transition: all $garage-door-traversal-time linear;
  }
}
