@import '../../style/variables';

.garage-door {
  fill: $white;
  height: 350px;

  .door {
    transition: {
      property: all;
      timing-function: linear;
    }
  }

  .door-opening, .door-opened {
    clip-path: inset(110% 0 0 0) !important;
    transform: translate(0, -14px) !important;
  }

  .door-closing, .door-closed {
    clip-path: inset(0 0 0 0) !important;
    transform: translate(0, 0) !important;
  }
}
