@import 'style/variables';

#lights-panel {
  align-items: center;
  display: flex;
  height: 480px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.group-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 .6rem;

  h2 {
    align-items: center;
    background-color: rgba($black, .6);
    color: rgba($white, .6);
    display: flex;
    font: {
      size: 12px;
      weight: 500;
    }
    justify-content: space-between;
    min-height: 35px;
    padding: .5rem;
    text-transform: uppercase;
  }
}

.light-grouping {
  margin: 1rem .6rem 0;

  .light-group {
    display: flex;
    padding: 0 .5rem;
  }

  .switch {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 12px;
    padding: 0 .5rem 1rem;
    text-align: center;
    width: 110px;

    i {
      align-items: center;
      background-color: $grey;
      border: 2px solid rgba($white, .2);
      border-radius: 100px;
      display: flex;
      flex-direction: column;
      font-size: 36px;
      height: 80px;
      justify-content: center;
      margin-bottom: 10px;
      position: relative;
      transition: background-color 1s ease;
      width: 80px;

      span {
        bottom: 8px;
        font: {
          size: 10px;
          style: normal;
        }
        position: absolute;
        text-transform: uppercase;
      }
    }

    &.on {
      i {
        background-color: $orange;
      }
    }
  }
}
