{
  "presets": ["react-app", "stage-3"],
  "plugins": [
    [
      "module-resolver", {
        "alias": {
          "components": "./components",
          "utils": "./utils",
          "style": "./style",
          "config": "./config",
          "node-modules": "./node_modules"
        }
      }
    ]
  ]
}
