{
  "presets": [
    "env",
    "react",
    "stage-3"
  ],
  "plugins": [
    [
      "module-resolver", {
        "root": [
          "./components",
          "./config",
          "./node_modules"
        ],
        "alias": {
          "utils": "./utils",
          "style": "./style"
        }
      }
    ],
    "transform-class-properties"
  ]
}
