{
  "presets": ["react-app"],
  "plugins": [
    [
      "module-resolver", {
        "alias": {
          "node-modules": "./node_modules",
          "style": "./style"
        }
      }
    ]
  ]
}
