@import 'variables';

* {
  font-family: 'Open Sans' !important;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background: {
    color: $blue;
    image: radial-gradient(circle, $blue, darken($blue, 10));
    position: 50% 50%;
    size: cover;
  }
  color: $white;
}

#root {
  height: 100%;
  width: 100%;
}

.information-panel.pusher {
  background: $black;
  width: calc(100% - #{$sidebar-width});

  &::after {
    background: {
      image: url('../public/images/mountains.png');
      position: center;
    }
    bottom: 0;
    content: "";
    filter: blur(3px);
    left: 0;
    opacity: .4;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(1.1);
    z-index: -1;
  }
}
