// Colors
$white: #fff;
$black: #000;
$blue: #2a97c1;
$green: #2ac17b;
$red: #ff4545;
$grey: #3c3c3c;

$primary-color: $blue;
$background-color: $grey;
$text-color: $white;

// Measurements
$screen-height: 480px;
$sidebar-width: 100px;
