@import '../../style/variables';

#alarm-panel {
  header {
    padding: 2rem 0;
    text-align: center;
  }

  .system-status {
    transition: color 250ms linear;
    font: {
      size: 32px;
      weight: 500;
    }
  }

  .input-status {
    font-size: 40px;
    height: 24px;
    letter-spacing: 30px;
    margin: {
      bottom: -5px;
      left: 30px;
    }
    padding-top: 5px;
  }

  .alarm-control {
    display: flex;
    justify-content: space-evenly;
  }

  .alarm-panic-chime {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
      &.button-chime {
        background: transparent;
        font-size: 38px;
      }

      &.button-panic {
        background-color: $red;
      }
    }
  }

  .alarm-keypad {
    display: flex;
    flex-wrap: wrap;
    width: 300px;

    button {
      font-size: 36px;

      &.button-backspace {
        color: rgba($white, .3);
      }
    }
  }

  .alarm-mode {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
      &.button-off {
        background-color: darken($white, 5);
        color: $black;

        &::after {
          background: rgba($black, .2);
        }
      }

      &.button-stay {
        background-color: $green;
      }

      &.button-away {
        background-color: $red;
      }
    }
  }

  .alarm-ready {
    color: $green;
  }

  .alarm-not_ready,
  .alarm-unknown,
  .alarm-armed_home,
  .alarm-armed_away,
  .alarm-triggered {
    color: $red;
  }

  .alarm-armed_home_exit_now,
  .alarm-armed_away_exit_now,
  .alarm-disarm_now {
    color: $orange;

    &.tada {
      color: $red;
    }
  }

  .alarm-triggered {
    font-weight: 500;
  }
}
