@import '../../style/variables';

.thermostat {
  user-select: none;

  &.cooling {
    circle {
      fill: $blue;
    }

    .ambient-temperature {
      text-shadow: 2px 0 5px $blue, 0 2px 5px $blue, -2px 0 5px $blue, 0 -2px 5px $blue;
    }
  }

  &.heating {
    circle {
      fill: $orange;
    }

    .ambient-temperature {
      text-shadow: 2px 0 5px $orange, 0 2px 5px $orange, -2px 0 5px $orange, 0 -2px 5px $orange;
    }
  }

  circle {
    fill: $grey;
    transition: fill .5s;
  }

  text {
    alignment-baseline: central;
    fill: $white;
    font-weight: 500;
    pointer-events: none;
    text-anchor: middle;
  }

  .ticks {
    path {
      fill: rgba($white, .3);

      &.active, &.fat {
        fill: rgba($white, .7);
      }

      &.long {
        fill: $white;
      }
    }
  }

  .away-mode {
    font-size: 72px;
  }

  .heat-cool {
    .target-temperature {
      font-size: 70px;
    }
  }

  .ambient-temperature {
    font-size: 22px;
    text-shadow: 2px 0 5px $grey, 0 2px 5px $grey, -2px 0 5px $grey, 0 -2px 5px $grey;
  }

  .target-mode {
    font: {
      size: 22px;
      weight: 100;
    }
    opacity: .8;
    text-transform: uppercase;
  }

  .target-temperature {
    font-size: 120px;
  }

  .fan, .leaf {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in;

    &.on {
      opacity: 1;
    }
  }

  .fan {
    animation: spin 2s infinite linear;
    fill: $white;
    transform-origin: 50% 50%;
  }

  .leaf {
    fill: $green;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
