@import '../../style/variables';

#climate-panel {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.thermostat-face {
  margin-left: 2rem;
  width: 300px;
}

.thermostat-stats {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;

  div {
    text-align: center;

    p, label {
      font: {
        size: 16px;
        weight: 200;
      }
      margin: 0;
    }

    label {
      font-size: 12px;
      opacity: .5;
      text-transform: uppercase;
    }
  }
}

.thermostat-controls {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  min-width: 285px;
  padding-left: 2rem;

  .temperature-controls {
    display: flex;
    min-height: 245px;
  }

  .mode-fan {
    display: flex;
    padding: 1rem 0;
  }
}

.control-buttons {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;

  h3 {
    color: rgba($white, .5);
    font-weight: 200;
    margin-bottom: 4px;
    min-height: 23px;
    text-align: center;
    text-transform: uppercase;
  }

  button {
    font-size: 42px;
  }
}

.set-fan-mode {
  font-size: 36px;
}

.set-hvac-state {
  background-color: $grey;
  height: 80px;
  width: 100px;

  .dropdown.icon {
    display: none;
  }

  & > .text {
    display: block;
    height: 100%;
    width: 100%;

    .mode-option {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      padding: 0;

      svg {
        height: 32px;
        margin: 0;
      }

      &.off {
        svg {
          fill: rgba($white, .3);
        }
      }
    }

    p {
      display: none;
    }
  }

  .menu {
    .header {
      color: rgba($black, .5) !important;
      font: {
        size: 12px !important;
        weight: 400 !important;
      }
      margin: .75rem 0 !important;
      text-align: center;
      text-transform: none !important;
    }

    .active {
      font-weight: 400 !important;

      &::after {
        color: $blue;
        content: '\F12C';
        font: {
          family: 'Material Design Icons';
          size: 22px;
        }
        position: absolute;
        right: 15px;
        top: 18px;
      }
    }
  }

  .mode-option {
    align-items: center;
    display: flex;
    padding: 5px 52px 5px 0;

    svg {
      height: 18px;
      margin-right: 20px;
    }

    p {
      text-transform: capitalize;
    }

    &.heat {
      svg {
        fill: $orange;
      }
    }

    &.cool {
      svg {
        fill: $blue;
      }
    }

    &.heat-cool {
      .top {
        fill: $orange;
      }

      .bottom {
        fill: $blue;
      }
    }

    &.off {
      svg {
        fill: rgba($black, .5);
      }
    }
  }
}
