@import '../../style/variables';

#climate-panel {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.thermostat-face {
  width: 300px;
}

.thermostat-stats {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;

  p {
    font: {
      size: 16px;
      weight: 200;
    }
    margin: 0;
  }

  i {
    font-size: 20px;
    position: relative;
    top: 2px;
  }
}

.thermostat-controls {
}

.dropdown.icon {
  &::before {
    content: '\F35D' !important;
    font-family: 'Material Design Icons' !important;
  }
}

.menu {
  .header {
    color: rgba($black, .5) !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    margin: .75rem 0 !important;
    text-align: center;
    text-transform: none !important;
  }

  .active {
    font-weight: 400 !important;

    &::after {
      color: $blue;
      content: '\F12C';
      font-family: 'Material Design Icons';
      font-size: 22px;
      position: absolute;
      right: 15px;
      top: 14px;
    }
  }
}

.mode-option {
  align-items: center;
  display: flex;
  padding: 5px 40px 5px 0;

  svg {
    height: 18px;
    margin-right: 20px;
  }

  p {
    text-transform: capitalize;
  }

  &.heat {
    svg {
      fill: $orange;
    }
  }

  &.cool {
    svg {
      fill: $blue;
    }
  }

  &.heat-cool {
    .top {
      fill: $orange;
    }

    .bottom {
      fill: $blue;
    }
  }

  &.off {
    svg {
      fill: rgba($black, .5);
    }
  }
}
